// colors 

$white: #fff;
$blue: #1991eb;
$dark: #4a4a4a;
$green: #1bb934;
$grey: #dfe3e9;
$mirage: #202B3E;
$regent-gray: #7F8FA4;
$athens-gray: #EFF1F6;
$heather: #bbc5d5;
$orange: #f7981c;
$red: #f45045;
$catskill-white: #EFF2F7;
$dark-grey: #9b9b9b;
$purple: #8E44AD;
$downy: #69ceb6;
$yellow:#ffeb3b;
$carrot-orange: #EC9C22;

$border-radius: 4px;

$nav-bg-hover: $regent-gray;
$nav-color: $mirage;
$main-heading-color: #282f36;
$main-heading-size: 20px;

$base-font-size: 12px;
$base-line-height: 1.25;
$base-font-family: 'sf_ui_display', Arial, sans-serif;
$text-color: #282f36;
$main-bg: $catskill-white;

$btn-bg: $blue;
$btn-bg-hover: #27a2ff;
$btn-bg-active: #1381d4;
$btn-bg-disable: #dfe3e9;

$btn-bg-green: $green;
$btn-bg-green-hover: #1fcf3b;
$btn-bg-green-active: #149929;

$border-color: #dfe3e9;

$bg-input: $athens-gray;
$border-input: $heather; 
$color-input: $regent-gray;


$description-color: $regent-gray;

$tab-color: #353d46;

$activity-work: $green;
$activity-communication: $downy;
$activity-learning: $yellow;
$activity-entertainment: $red;
$activity-other: $carrot-orange;
$activity-manual: $dark-grey;
$activity-no-data: $dark-grey;

$cold-start-work: $green;
$cold-start-communication: $downy;
$cold-start-learning: $yellow;
$cold-start-entertainment: $red;
$cold-start-other: $carrot-orange;
