/*------------------------------------*\
    RESET
\*------------------------------------*/
/* https://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	margin: 0 auto;
	width: 90%;
	max-width: 1240px;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}

/* Typography */

h1 {
	font-size: 28px;
	font-weight: 300;
	flex: 1;
}

h5 {
	font-weight: 500;
	line-height: 1.7em;
}

h6 {
	color: #666;
	font-size: 14px;
}

/* Product Layout */

.product-filter {
	display: flex;
	padding: 30px 0;
}

.sort {
	display: flex;
	align-self: flex-end;
}

.collection-sort {
 display: flex;
	flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}

label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;

	padding: 2%;
	flex: 1 16%;

	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
	margin: 0px 20px 20px 0px;
	.buy {
		display: none;
	}
}

	.product-card:nth-child(4n) {
  	margin-right: 0;
	}

	.product-card:last-child {
		margin-right: 0;
	}


.product-card:hover {
	position: relative;
	box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
	.buy {
		display: block;
		position: absolute;
	  padding: 6px 5px 6px 12px;
	  width: 110px;
	  height: 16px;
	  border-radius: 8px;
	  background-color: #79dd26;
		margin: 0 auto;
		left: calc(45% - 55px);
		margin-top: 10px;
	  a {
	    text-decoration: none;
	    font-size: 17px;
	    color: white;
	  }
	}
}

.product-image img {
	width: 100%;
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

@media ( max-width: 920px ) {
	.product-card {
		flex: 1 21%;
	}
	.products .product-card:first-child,
	.products .product-card:nth-child(2) {
		flex: 2 46%;
	}

	.product-info {
		margin-bottom: 20px;
	}
}

@media ( max-width: 600px ) {
	.product-card {
		flex: 1 46%;
	}

	.product-info {
		margin-bottom: 20px;
	}

}

@media ( max-width: 480px ) {
	h1 {
		margin-bottom: 20px;
	}
	.product-filter {
		flex-direction: column;
	}
	.sort {
		align-self: flex-start;
	}
	.product-info {
		margin-bottom: 20px;
	}
}

////////////////////////////////

a {
		text-decoration: none ;
		color: #6b7283;
 }


 .header-main {
	 height: 220px;
	 margin: 10px 0px 20px 0px;
		h1 {
			font-family: "Raleway", sans-serif;
			color: beige;
		}
		.bgimg {
				background-image: url('/style/imgs/header1.jpg');
				min-height: 100%;
				background-position: 0% 62%;
				background-size: cover;
			}
 }






//
// .wrapper-single {
//   display: flex;
//   flex-direction: row;
// 	margin-bottom: 40px;
// }
//
// .all-photos {
//   display: flex;
//   flex-direction: row;
// }
//
// .single-product-main-image {
//     width: 100%;
//     max-width: 500px;
// }
//
// .single-product-main-image:hover {
// 	cursor: pointer;
// }
//
// .add-photos-container {
//   display: flex;
//   flex-direction: column;
//   div {
//     margin-right: 10px;
//   }
// }
//
// .add-photos {
//   width: 100%;
//   max-width: 80px;
// }
//
// .description-block {
//   margin-left: 20px;
// }
//
// .header {
// 	height: 170px;
// 	margin: 10px 0px 20px 0px;
// 	background-image: url('/style/imgs/underwater.jpg');
// 	background-position: bottom;
// 	background-size: 100% auto;
// 	.header-capr-logo {
// 		height: 100%;
// 		max-height: 150px;
// 		padding: 9px 0px 0px 20px;
// 		-webkit-transition: background-position 1s; /* Safari */
// 		transition: background-position 1s;
// 	}
// 	-webkit-transition: background-position 10s; /* Safari */
// 	transition: background-position 10s;
// }
//
// .header-trans {
// 	height: 170px;
// 	margin: 10px 0px 20px 0px;
// 	background-image: url('/style/imgs/underwater.jpg'); //background-image: url('/style/imgs/underwater.jpg');
// 	background-position: top;
// 	background-size: 100% auto;
// 	.header-capr-logo {
// 		height: 100%;
// 		max-height: 150px;
// 		padding: 9px 0px 0px 20px;
// 	}
// 	-webkit-transition: background-position 10s; /* Safari */
// 	transition: background-position 10s;
// }
//
// .header-dark {
// 	height: 140px;
// 	margin: 0px 0px 20px 0px;
// 	.header-carp-logo-dark {
// 		height: 95%;
// 		max-height: 140px;
// 		padding: 9px 0px 0px 20px;
// 		-webkit-transition: height 0.6s; /* Safari */
// 		transition: height 1s;
// 	}
// }
//
// .header-carp-logo-dark:hover {
// 	height: 100%;
// }
//
// .footer {
// 	height: 80px;
// 	margin: 10px 0px 20px 0px;
// 	background-image: url('/style/imgs/underwater.jpg');
// 	background-position: bottom;
// 	background-size: 100% auto;
// 	.footer-text {
// 		padding: 12px 0px 0px 20px;
// 		color: rgb(245, 247, 63);
// 		font-size: 16;
// 		font-weight: 600;
// 	}
// }
