@import 'base/_var.scss';
// @import 'base/_helpers.scss';
// @import 'base/_mixins.scss';
// @import 'base/_reset.scss';
//
// @import 'vendors/_include-media.scss';
// @import 'vendors/_fonts.scss';

html, body {
  height: 100%;
}

body {
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background: $main-bg;
	// background-color: rgb(255, 255, 51);
	// background-color: rgb(245, 247, 63);
	margin: 0;
}

// a:not([class^=""]):hover {
//   opacity: 0.8;
//   cursor: pointer;
// }
.wrapper {
  width: 95%;
  margin: 0 auto;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
// justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;

.product {
  margin: 0 20px 25px 0;
}

.product-description {
  width: 275px;
  color: red;
  white-space: normal;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.image-container {
  img {
    height: 200px;
    width: auto;
  }
  &.increased {
    // background-color: blue;
    position: fixed;
    left: 10px;
    top: 10px;
    // height: 600;
    // width: auto;
    display: block;
    z-index:100;
    // transform: translateX(100px);
    // -webkit-transition: 0.01s;
    // transition: 0.01s;
    img {
      height: 500px;
      width: auto;
    }
  }
}

.buy-link {
  padding: 5px 0px 10px 23px;;
  width: 110px;
  height: 16px;
  border-radius: 8px;
  background-color: #8eef3e;
  a {
    text-decoration: none;
    font-size: 17px;
    color: white;
  }
}

.wrapper-single {
  display: flex;
  flex-direction: row;
	margin-bottom: 40px;
}

.all-photos {
  display: flex;
  flex-direction: row;
}

.single-product-main-image {
    width: 100%;
    max-width: 500px;
}

.add-photos-container {
  display: flex;
  flex-direction: column;
  div {
    margin-right: 10px;
  }
}

.add-photos {
  width: 100%;
  max-width: 80px;
}

.description-block {
  margin-left: 20px;
}

.header {
	height: 170px;
	margin: 10px 0px 20px 0px;
	background-image: url('/style/imgs/underwater.jpg');
	background-position: bottom;
	background-size: 100% auto;
	.header-capr-logo {
		height: 100%;
		max-height: 150px;
		padding: 9px 0px 0px 20px;
		-webkit-transition: background-position 1s; /* Safari */
		transition: background-position 1s;
	}
	-webkit-transition: background-position 10s; /* Safari */
	transition: background-position 10s;
}

.header-trans {
	height: 170px;
	margin: 10px 0px 20px 0px;
	background-image: url('/style/imgs/underwater.jpg');
	background-position: top;
	background-size: 100% auto;
	.header-capr-logo {
		height: 100%;
		max-height: 150px;
		padding: 9px 0px 0px 20px;
	}
	-webkit-transition: background-position 10s; /* Safari */
	transition: background-position 10s;
}

.header-dark {
	height: 140px;
	margin: 0px 0px 20px 0px;
	.header-carp-logo-dark {
		height: 95%;
		max-height: 140px;
		padding: 9px 0px 0px 20px;
		-webkit-transition: height 0.6s; /* Safari */
		transition: height 1s;
	}
}

.header-carp-logo-dark:hover {
	height: 100%;
}

.footer {
	height: 80px;
	margin: 10px 0px 20px 0px;
	background-image: url('/style/imgs/underwater.jpg');
	background-position: bottom;
	background-size: 100% auto;
	.footer-text {
		padding: 12px 0px 0px 20px;
		color: rgb(245, 247, 63);
		font-size: 16;
		font-weight: 600;
	}
}


//////////////////////
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
